.product-description
    .container 
        .row.d-flex
            .col-lg-12
                h2 О товаре
            .col-lg-12
                .product-description__text
                    p Sony KD50X81J — телевизор с экраном, созданным на основе матрицы Triluminos Pro. Его диагональ — 50 дюймов, разрешение — 3840 х 2160 пикселей. Фирменный процессор X1 обеспечивает масштабирование изображения до 4K Ultra HD.
                    p В модели реализованы технологии HDR10, HLG и Motionflow XR 240. Мощность фронтальных динамиков — 20 Вт. Операционная система — Android. Для дистанционного управления используется Bluetooth-пульт.
                a(href="").btn-transparent Читать полностью
                    <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 4.33377L1.22203 0.0558023L0 1.27783L5.5 6.77783L11 1.27783L9.77797 0.0558023L5.5 4.33377Z" fill="#7C808E"/>
                    </svg>

