<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="csrf-param" content="_csrf-frontend">
  <meta name="description" content="Купить Телевизор LED 50&quot; SONY KD49XH8596BR через интернет каталог BoxBerry. Смотрите цены, характеристики и описание Телевизор LED 50&quot; SONY KD49XH8596BR на Boxberry Маркет">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="keywords" />
  <link rel="shortcut icon" href="https://boxberry.ru/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="https://boxberry.ru/favicon.ico">
  <link rel="apple-touch-icon" sizes="72x72" href="https://boxberry.ru/favicon.ico">
  <link rel="apple-touch-icon" sizes="114x114" href="https://boxberry.ru/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="https://boxberry.ru/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Купить Телевизор LED 50" SONY KD49XH8596BR - цены, характеристики, описание | Boxberry Маркет</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>