.container
    .col-md-12.col-xs-12.privacy
        img(src="images/market/attention.png", alt="Attention" style="height: 24px;margin-top: 3px;padding-right: 15px)")
        p Обратите внимание! Boxberry является информационным посредником (ст. 1253.1 ГК РФ). Если на нашем сайте были нарушены ваши интеллектуальные права, заполните
            a(href="https://boxberry.ru/kontakty/sluzba-podderzki-dla-uridiceskih-lic") &nbsp; форму обратной связи
            |  с прикреплением ссылок на страницы.
section.bottom-baner
    .bottom-baner__container.container
        picture
            source(media="(max-width: 575px)" srcset="images/market/footer-baner-mobile.png")
            source(media="(max-width: 768px)" srcset="images/market/footer-baner-tablet.png")
            img(src="images/market/footer-baner.png", alt="baner").bottom-baner__img
        .bottom-baner__text Отслеживайте доставку и оформляйте посылки в новом
            span.bottom-baner__text-bold &nbsp; мобильном приложении Boxberry
        .bottom-baner__links
            a(href="https://redirect.appmetrica.yandex.com/serve/459296288253432489?click_id={market_site_footer}" class="bottom-baner__link" target="_blank") 
                img(src="images/market/play-market.jpg", alt="").bottom-baner__link-img
            a(href="https://redirect.appmetrica.yandex.com/serve/315181103549862936?click_id={market_site_footer}" class="bottom-baner__link" target="_blank") 
                img(src="images/market/app-store.jpg", alt="").bottom-baner__link-img
            a(href="https://appgallery.huawei.com/#/app/C103283299" class="bottom-baner__link" target="_blank") 
                img(src="images/market/app-gallery.jpg", alt="").bottom-baner__link-img
        .bottom-baner__box
            .bottom-baner__box-text Кликни на QR-код для скачивания
            button.bottom-baner__qr
                img(src="images/market/qr.png", alt="").footer__qr-img
footer.footer
    .container
        .footer-inner
            .footer__logo
                a(href="/market/") 
                    img(src="images/market/Boxberry_logo.png", alt="Boxberry Каталог")
            .footer-content
                ul.footer-content-menu
                    .footer-content-menu__item
                        a(href="/market/site/contact/") О разделе
                    .footer-content-menu__item
                        a(href="/market/site/add-shop/") Добавить магази
                .footer-content__text Каталог товаров от Boxberry - это площадка, где собраны предложения из более чем 300+ магазинов. Мы не продаем, а помогаем найти нужный вам товар - это бесплатно. Если вам необходима более подробная информация о каком-либо товаре, пожалуйста, задайте ваш вопрос непосредственно продавцу, контакты которого вы сможете найти на его сайте.
