.sale {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ed1651;
  border: 1px solid #ed1651;
  border-radius: 5px;
  padding: 4px 6px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  @media only screen and (max-width: 480px) {
    bottom: auto;
    top: 0;
  }
}
