.product__slider
    .product__thumbs
        .swiper-container
            .swiper-wrapper
                .swiper-slide.product__thumb
                    img(src="images/product/product-1.png", alt="product").img-responsive
                .swiper-slide.product__thumb
                    img(src="images/product/product-2.png", alt="product").img-responsive
                .swiper-slide.product__thumb
                    img(src="images/product/product-3.png", alt="product").img-responsive
                .swiper-slide.product__thumb
                    img(src="images/product/product-4.png", alt="product").img-responsive
                .swiper-slide.product__thumb
                    img(src="images/product/product-1.png", alt="product").img-responsive
        .product__nav
            .swiper-button-prev 
                i.icon-arrow-left
            .swiper-button-next
                i.icon-arrow-right
    .product__images
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .product__image
                        img(src="images/product/product-1.png", alt="product").img-responsive
                .swiper-slide
                    .product__image
                        img(src="images/product/product-2.png", alt="product").img-responsive
                .swiper-slide
                    .product__image
                        img(src="images/product/product-3.png", alt="product").img-responsive
                .swiper-slide
                    .product__image
                        img(src="images/product/product-4.png", alt="product").img-responsive
                .swiper-slide
                    .product__image
                        img(src="images/product/product-1.png", alt="product").img-responsive