.reviews__slider
    .reviews__images
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .reviews__image
                        img(src="images/product/product-1.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__image
                        img(src="images/product/product-2.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__image
                        img(src="images/product/product-3.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__image
                        img(src="images/product/product-4.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__image
                        img(src="images/product/product-1.png", alt="reviews").img-responsive
    .reviews__thumbs
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .reviews__thumb
                        img(src="images/product/product-1.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__thumb
                        img(src="images/product/product-2.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__thumb
                        img(src="images/product/product-3.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__thumb
                        img(src="images/product/product-4.png", alt="reviews").img-responsive
                .swiper-slide
                    .reviews__thumb
                        img(src="images/product/product-1.png", alt="reviews").img-responsive