mixin image-compare({})
    svg(width='14', height='19', viewbox='0 0 14 19', fill='none', xmlns='http://www.w3.org/2000/svg')
        rect(width='2', height='19', fill='#363845')
        rect(x='4', y='5', width='2', height='14', fill='#363845')
        rect(x='12', y='12', width='2', height='7', fill='#363845')
        rect(x='8', y='3', width='2', height='16', fill='#363845')